<h1>Login</h1>
<% if (messages.error) {%>
    <%= messages.error %>
    <% } %>
<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" autocomplete="off" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Login</button>
    </div>
</form>

<a href="/register">Register</a>