<h1>Register</h1>

<form action="/register" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" autocomplete="off" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Register</button>
    </div>
</form>

<a href="/login">Login</a>